<div class="container">
    <div class="row">
       <div class="col-md-5">
           
            <table class="table table-bordered table-hover table-sm">
                <thead>
                        <tr class="bg-primary text-white">
                                <th>Name</th>
                                <th>Mobile</th>  
                                <th>Product</th>
                                <th>Edit</th>
                        </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
       </div> 
       <div class="col-md-7">
           <div class="row">
            <textarea class="form-control" placeholder="New update write here" rows="3"></textarea>
           </div>
           <br>
           <div class="row">
               <div class="col-md-5">
                   <h5>status</h5>
               </div>
               <div class="col-md-7">
                   <select>
                       <option value="">Choose</option>
                   </select>
               </div>
           </div>
           <br>
           <div class="row">
               <div class="col-md-12 text-center">
                <button class="btn btn-danger">Update</button>
               </div> 
           </div>
           <br> <br>
           <div class="row">
           <table class="table table-bordered table-hover table-sm">
                <thead>
                        <tr class="bg-primary text-white">
                                <th>Discussion</th>
                                <th>Date & Time</th>  
                               
                        </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr></tr>

                </tbody>
            </table>
           </div>
       </div>
    </div>
</div> 